---
title: Nobel Prizes in Chemistry
layout: base
---
{% for prize in chemistry.nobelPrizes %}
  <p>{{ prize.awardYear }}</p>
  {% render "laureates" with prize.laureates as laureatesList %}
{% endfor %}