---
title: Demonstration of Eleventy Using Nobel Prize Data
layout: base
---

<ul>
  <li>
    <a href="chemistry/">List of Chemistry Prizes</a><br/>
    generated from
    <code>src/chemistry.liquid</code>
    and data from
    <code>src/_data/chemistry.json</code>
  </li>
  <li>
    First take:
    <a href="prizes-list/">List of Nobel Psizes</a>
    <br/>
    generated from
    <code>src/_data/prizes.js</code>
    and
    <code>src/prizes-list.liquid</code>
  </li>
  <li>
    Second take:
    <a href="prizes-collection/">List of Nobel Prizes</a>
    <br/>
    generated using collections (created by tags during pagination
    <code>src/prizes.liquid</code>) and
    <code>src/prizes-collection.liquid</code>
  </li>

</ul>