---
title: Demonstration of Eleventy Using Nobel Prize Data
layout: base
---

<ul>
  <li>
    <a href="chemistry/">List of Chemistry Prizes</a><br/>
    generated from
    <code>src/chemistry.liquid</code>
    and data from
    <code>src/_data/chemistry.json</code>
  </li>
  <li>
    First take:
    <a href="prizes-list-take1/">List of Nobel Psizes</a>
    <br/>
    generated from
    <code>src/_data/prizes.js</code>
    and
    <code>src/prizes-list-take1.liquid</code>
  </li>
  
</ul>