---
title: Nobel Prizes
layout: base
---
{% for prize in prizes.nobelPrizes %}
  <h2>{{ prize.awardYear }} {{ prize.category.en }}</h2>
  {% render "laureates" with prize.laureates as laureatesList %}
{% endfor %}