---
title: Nobel Prizes
layout: base
---
{% for prize in prizes.nobelPrizes %}
  <h2>{{ prize.awardYear }} {{ prize.category.en }}</h2>
  <ul class="listing">
    {% for laureate in prize.laureates %}
      <li>
        <span class="name">
          {{ laureate.knownName.en }}
        </span><br/>
        <span class="motivation">{{ laureate.motivation.en }}</span>
      </li>
    {% endfor %}
  </ul>
{% endfor %}